/* Grab Font */

@font-face {
  font-family: "Open Sans Regular";
  src: url("OpenSans-Regular.ttf");
}

/* Global Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Regular";
  color: var(--color-black);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f8fb;
}

/* Variables */

:root {
  /* Color */

  --color-black: #1d2733;
  --color-white: #f8fbff;
  --color-blue: #00b2ff;
  --color-purple: #cc78ff;
  --color-salmon-dark: #fa8072;
  --color-salmon-light: #fbc0b9;

  /* Border Radius */

  --border-radius: 10px;

  /* Selects */

  --select-border: rgba(0, 0, 0, 0);
  --select-focus: rgba(0, 0, 0, 0);
  --select-arrow: var(--color-black);
}

::selection {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* Utilities */

/* Text */

.u-text-center {
  text-align: center;
}

.u-text-white {
  color: var(--color-white);
}

.u-text-spaced {
  line-height: 1.6;
}

/* Margin */

.u-gutter-top {
  margin-top: 10rem;
}

.u-gutter-bottom {
  margin-bottom: 10rem;
}

.u-my-sm {
  margin-top: 2rem;
}

.u-my-md {
  margin-top: 4rem;
}

.u-my-lg {
  margin-top: 6rem;
}

.u-mx-sm {
  margin-right: 1.5rem;
}

.u-mx-md {
  margin-right: 3rem;
}

.u-mx-lg {
  margin-right: 5rem;
}

/* Container */

.u-row {
  display: flex;
}

/* Width */

.u-width-50 {
  width: 50%;
}

/* Base Styles */

h1 {
  font-weight: 300;
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-weight: 300;
  font-size: 2rem;
}

/* Radio Groups */

.radio-button {
  display: none;
}

.radio-button:checked + label::after {
  content: "\2713";
  position: absolute;
  z-index: 100;
  left: 17px;
  top: 13px;
  color: #fff;
  font-size: 20px;
}

.radio-button:checked + .radio-group-label .radio-group-button {
  transform: scale(1.05);
}

.radio-group-button {
  display: none;
}

.radio-group-label {
  position: relative;
  cursor: pointer;
}

.radio-group-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: red;
  display: block;
}

/* Gradient Button */

button {
  padding: 12px 50px;
  border-radius: 10px;
  border: 3px solid var(--color-salmon-dark);
  background-color: transparent;
  color: var(--color-salmon-dark);
  cursor: pointer;
  transition: 0.3s background-color, 0.3s color, 0.3s transform, 0.3s box-shadow;
  font-size: 1.6rem;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.05);
}

button:hover {
  background-color: var(--color-salmon-dark);
  color: var(--color-white);
  transform: translateY(-7px);
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.15);
}

/* First Section */

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Title Heading */

#top {
  color: var(--color-salmon-dark);
  font-weight: 800;
}

/* Form */

form {
  width: 50rem;
  padding: 3.5rem;
  border-radius: var(--border-radius);
  background-color: var(--color-salmon-dark);
  opacity: 0.9;
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.15);
}

/* Selects */

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 7px 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
  color: var(--color-white);
}

select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 1.5rem;
}

.select select,
.select::after {
  grid-area: select;
}

.select:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--color-white);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/* Color Inputs */

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 7rem;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s transform;
  position: relative;
}

input[type="color"]::after {
  content: "\2713";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: var(--color-white);
  font-size: 2.5rem;
  opacity: 0;
}

input[type="color"]:hover {
  transform: translateY(-5px) scale(1.05);
}

input[type="color"]:hover::after {
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 1000000px;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.05);
}

/* Result Page */

.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Hide */
  display: none;
}

/* About Section */

.about {
  margin-top: 20rem;
  position: relative;
  width: 50%;
  padding: 4rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Image */

.about-img {
  max-height: 30rem;
  display: block;
  margin: 0 auto;
  margin-top: 6rem;
}

/* Testimonials Section */

.testimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* Hide */
  display: none;
}

.testimonial-group {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.testimonial-group .testimonial {
  width: 48%;
  display: flex;
  align-items: center;
  padding: 3rem;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.05);
  transition: 0.3s transform;
}

.testimonial:hover {
  transform: translateY(-5px);
}

.testimonial p {
  position: relative;
}

.testimonial .content p::before {
  content: "\201C";
  position: absolute;
  font-size: 5rem;
  top: -2rem;
  left: -2rem;
  color: #aaa;
  opacity: 0.5;
}

.testimonial .content p::after {
  content: "\201D";
  position: absolute;
  font-size: 5rem;
  bottom: -6rem;
  right: 2rem;
  color: #aaa;
  opacity: 0.5;
}

.testimonial .content h2 {
  font-size: 2.5rem;
}

.testimonial .content p {
  font-size: 1.6rem;
}

.testimonial img {
  border-radius: 50%;
  width: 20%;
}

.red {
  color: #ed4956;
}

/* Sharing */

.share-buttons {
  display: flex;
}

.share-btn {
  padding: 1rem 7rem;
  border-radius: var(--border-radius);
  display: flex;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  text-decoration: none;
  transition: 0.3s transform;
}

.share-btn:hover {
  transform: translateY(-5px);
}

.share-btn i {
  color: #fff;
  font-size: 2.5rem;
}

.share-btn.twt {
  background-color: #1da1f1;
}

.share-btn.fb {
  background-color: #1977f2;
}

.share-btn.linkedin {
  background-color: #0b65c2;
}

#build-again span {
  font-size: 1.8rem;
  color: currentColor;
}

.background {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 150%;
}
